
#wrapper {
       padding-top: 0;
}

.portlet-title-text {
    display: none;
    }

    .form-inline .form-group {
    display: inline-block;
    
    }



.portlet-decorate .portlet-content {
    background: transparent;
    }

    .lfr-ddm-field-group-inline {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    float: right;
    right: 5%;
    top: 26%;
}

.barra-utilerias .usuario {
       top: -15px;
    }

.lista-menu-inline li {
    display: block;
}

/*  -------portletlayoutrow ----*/

.portlet-layout.row {
    margin-right: 0;
    margin-left: 0;
}
#column-1 {
    padding-right: 0;
    padding-left: 0;
}

/*------portlet de busqueda ----------*/


.input-group-inset-item.input-group-inset-item-after.search-bar-search-button-wrapper {
    color: #CCB874;
    font-size: 24px;
    position: absolute;
    top: 8px;
    right: 7px;
    background: transparent;
    border: navajowhite;
}

.input-group-item .input-group-inset-after.form-control {
background: transparent;
    border-radius: 0;
    box-sizing: border-box;
    color: #FFF;
    height: 50px;
    width: 242px;
    border: 1px solid #CCB874;
    margin-top: -5px;
}

/*  ---------------- scroll ------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

